@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>Linked Accounts</h4>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-primary" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<h4>Link Other Accounts</h4>
<hr />
<form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
    <div id="socialLoginList">
        <p>
            @if (Model.GoogleLogin is not null)
            {
                <button id="@($"link-login-button-{Model.GoogleLogin.Name}")" type="submit" class="btn btn-primary" name="provider"
                        value="@Model.GoogleLogin.Name" title="Log in using your @Model.GoogleLogin.DisplayName account">
                    @Model.GoogleLogin.DisplayName
                </button>
            }
            @if (Model.MicrosoftLogin is not null)
            {
                <button id="@($"link-login-button-{Model.MicrosoftLogin.Name}")" type="submit" class="btn btn-primary" name="provider"
                        value="@Model.MicrosoftLogin.Name" title="Log in using your @Model.MicrosoftLogin.DisplayName account">
                    @Model.MicrosoftLogin.DisplayName
                </button>
            }
            @if (Model.TwitchLogin is not null)
            {
                <button id="@($"link-login-button-{Model.TwitchLogin.Name}")" type="submit" class="btn btn-primary" name="provider"
                        value="@Model.TwitchLogin.Name" title="Log in using your @Model.TwitchLogin.DisplayName account">
                    @Model.TwitchLogin.DisplayName
                </button>
            }
            @if (Model.PatreonLogin is not null)
            {
                <button id="@($"link-login-button-{Model.PatreonLogin.Name}")" type="submit" class="btn btn-primary" name="provider"
                        value="@Model.PatreonLogin.Name" title="Log in using your @Model.PatreonLogin.DisplayName account">
                    @Model.PatreonLogin.DisplayName
                </button>
            }
        </p>
    </div>
</form>
