@page
@using FantasyCritic.Web.Pages.Account
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.DisplayName"></label>
                <input asp-for="Input.DisplayName" class="form-control" />
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        @if (Model.GoogleLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-google" name="provider" value="@Model.GoogleLogin.Name"
                                        title="Log in using your @Model.GoogleLogin.DisplayName account">
                                    <img src="/img/google.svg" class="brand-logo google-logo" />
                                    Sign up with Google
                                </button>
                            </div>
                        }
                        @if (Model.MicrosoftLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-microsoft" name="provider" value="@Model.MicrosoftLogin.Name"
                                        title="Log in using your @Model.MicrosoftLogin.DisplayName account">
                                    <img src="/img/microsoft.svg" class="brand-logo microsoft-logo" />
                                    Sign up with Microsoft
                                </button>
                            </div>
                        }
                        @if (Model.TwitchLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-twitch" name="provider" value="@Model.TwitchLogin.Name"
                                        title="Log in using your @Model.TwitchLogin.DisplayName account">
                                    <img src="/img/twitch.svg" class="brand-logo twitch-logo" />
                                    Sign up with Twitch
                                </button>
                            </div>
                        }
                        @if (Model.DiscordLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-discord" name="provider" value="@Model.DiscordLogin.Name"
                                        title="Log in using your @Model.DiscordLogin.DisplayName account">
                                    <img src="/img/discord.svg" class="brand-logo twitch-discord" />
                                    Sign up with Discord
                                </button>
                            </div>
                        }
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
