@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <hr />
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        @if (Model.GoogleLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-google" name="provider" value="@Model.GoogleLogin.Name"
                                        title="Log in using your @Model.GoogleLogin.DisplayName account">
                                    <img src="/img/google.svg" class="brand-logo google-logo"/>
                                    Sign in with Google
                                </button>
                            </div>
                        }
                        @if (Model.MicrosoftLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-microsoft" name="provider" value="@Model.MicrosoftLogin.Name"
                                        title="Log in using your @Model.MicrosoftLogin.DisplayName account">
                                    <img src="/img/microsoft.svg" class="brand-logo microsoft-logo" />
                                    Sign in with Microsoft
                                </button>
                            </div>
                        }
                        @if (Model.TwitchLogin is not null)
                        {
                            <div>
                                <button type="submit" class="btn login-button login-button-twitch" name="provider" value="@Model.TwitchLogin.Name"
                                        title="Log in using your @Model.TwitchLogin.DisplayName account">
                                    <img src="/img/twitch.svg" class="brand-logo twitch-logo" />
                                    Sign in with Twitch
                                </button>
                            </div>
                        }
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
